/* Header.css */
.header {
    background-color: #048699; /* Set background color */
    color: #fff; /* Set text color */
    padding: 10px 0; /* Add padding */
    margin-top: 0 !important; /* Remove top margin */
    position: fixed;
    width: 100%; /* Make the header span the entire width of the viewport */
    top: 0; /* Position the header at the top of the viewport */
    z-index: 1000; /* Ensure the header appears above other content */
}

.header-content {
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Space evenly between logo and user */
    align-items: center; /* Center items vertically */
    max-width: 1200px; /* Limit the width of the header content */
    margin: 0 auto; /* Center the header content horizontally */
    padding: 0 20px; /* Add padding to the header content */
}

.logo {
    font-size: 24px; /* Set font size */
}

.user {
    font-size: 18px; /* Set font size */
}
